/* COLORS
========================== */

// Functional Colors
$background-color: #FAFAFA;
$secondary-background-color: #F2F2F7;
$primary-text-color: #241C15;
$secondary-text-color: #FFFFFF;

// Primary Brand Colors
$primary-color: #0E6EB8;;
$secondary-color: #008080;


// Feedback Colors
$success-color: #d4edda;
$success-border-color: #c3e6cb;
$alert-color: #FBEECA;

// Effects
$hover-btn-color: #CCE5E7;

