@media (max-width: 1200px) {
  .task-card {
    width: 300px!important;
  }
}

@media (max-width: 1024px) {
  .task-card {
    width: 350px!important;
  }

  .task-card:nth-last-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .task-card {
    margin-right: 0!important;
  }
}