a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

img { max-width: 100%;}


/* IMPORTS
========================== */
@import 'mediaQueries.scss';

/* COLORS
========================== */

// Functional Colors
$background-color: #FAFAFA;
$secondary-background-color: #F2F2F7;
$primary-text-color: #241C15;
$secondary-text-color: #FFFFFF;

// Primary Brand Colors
$primary-color: #007C89;
$secondary-color: #FF8D3F;


// Feedback Colors
$success-color: #d4edda;
$success-border-color: #c3e6cb;
$alert-color: #FBEECA;

// Effects
$hover-btn-color: #CCE5E7;


// $completed-text-color: #155724;


/* FONTS
========================== */
// Body - font-family: 'Roboto', sans-serif;
// Heading (h1 - App title) - font-family: 'Roboto Slab', serif;
// Heading (other than h1) - 'Raleway', sans-serif;

/* GLOBALLY DEFINED STYLES
========================== */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Times', 'Arial' sans-serif;
  font-size: 2rem;
  background-color: $background-color;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: decimal;
}

h1 {
  font-family: 'Roboto Slab', 'Times', 'Arial', serif;
  color: $primary-color;
}

h2, h3 {
  font-family: 'Raleway', 'Times', 'Arial', sans-serif;
  color: $secondary-color;
}
// Check if you need a tags
// a {
//   text-decoration: none;
//   color: $primary-text-color;
//   /* for accessability */
//   padding: 10px;
// }

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* ========================== */

/* Main Div holding up all the content */
.main{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // // margin: 40px auto;

}

/* Task Board */
.task-board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* Task Cards */
.task-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $secondary-background-color;
  box-shadow: 2px 2px 2px 0px rgba(36,28,21,0.2);
  width: 350px;
  height: 100%;
  margin: 40px 10px 0px 0px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

// target every third card
.task-card:nth-child(3n) {
  margin-right: 0
}


/* Form */
form {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

}

input[type="text"]{
  outline: 0;
  border: none;
  padding: 5px;
  border-radius: 5px;
  flex: 1;
}



/* Buttons */
.btn {
  color: $secondary-text-color;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  text-align: center;
  padding: 10px 10px;
}
.add-new-task-btn {
  flex: 1;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.7;
}

/* Task List */

ol {
  padding: 20px;
}

ol li {
  padding: 5px;
}

// ol li:nth-child(even){
//   background: #dfdfdf;
// }

.strike{
  text-decoration: line-through;
}

li:hover{
  cursor: pointer;
 }

 .completed {
  background-color: $success-color;
  border: 1px solid $success-border-color;
  transition: background-color 0.5s ease
 }
